Введение в pandas: анализ данных на Python

DataFrame и Series

In [1]:
import pandas as pd

In [2]:
my_series = pd.Series([5, 6, 7, 8, 9, 10])
my_series

0     5
1     6
2     7
3     8
4     9
5    10
dtype: int64

In [6]:
my_series.index

RangeIndex(start=0, stop=6, step=1)

In [5]:
my_series.values

array([ 5,  6,  7,  8,  9, 10], dtype=int64)

In [7]:
my_series[4]

9

In [9]:
my_series2 = pd.Series([5, 6, 7, 8, 9, 10], index=['a', 'b', 'c', 'd', 'e', 'f'])
my_series2['f']

10

In [12]:
my_series2[['a', 'b', 'f']]

a     5
b     6
f    10
dtype: int64

In [13]:
my_series2[['a', 'b', 'f']] = 0
my_series2

a    0
b    0
c    7
d    8
e    9
f    0
dtype: int64

In [14]:
my_series2[my_series2 > 0]

c    7
d    8
e    9
dtype: int64

In [15]:
my_series2[my_series2 > 0] * 2

c    14
d    16
e    18
dtype: int64

In [16]:
my_series3 = pd.Series({'a': 5, 'b': 6, 'c': 7, 'd': 8})
my_series3

a    5
b    6
c    7
d    8
dtype: int64

In [17]:
my_series3.name = 'numbers'
my_series3.index.name = 'letters'
my_series3

letters
a    5
b    6
c    7
d    8
Name: numbers, dtype: int64

In [18]:
my_series3.index = ['A', 'B', 'C', 'D']
my_series3

A    5
B    6
C    7
D    8
Name: numbers, dtype: int64