Условие 1: 1 задача
Скачать файл в уроке

Считать данные с помощью pandas

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('kc_final.csv', sep=',', encoding='Windows-1251')

Вывести на экран первые 5 строк

In [34]:
df[:5]

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

Посмотреть на описание признаков и на их содержание

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     21613 non-null  int64
 1   id             21613 non-null  int64
 2   date           21613 non-null  object
 3   price          21613 non-null  float64
 4   bedrooms       21613 non-null  int64
 5   bathrooms      21613 non-null  float64
 6   sqft_living    21613 non-null  int64
 7   sqft_lot       21613 non-null  int64
 8   floors         21613 non-null  float64
 9   waterfront     21613 non-null  int64
 10  view           21613 non-null  int64
 11  condition      21613 non-null  int64
 12  grade          21613 non-null  int64
 13  sqft_above     21613 non-null  int64
 14  sqft_basement  21613 non-null  int64
 15  yr_built       21613 non-null  int64
 16  yr_renovated   21613 non-null  int64
 17  zipcode        21613 non-null  int64
 18  lat            21613 non-null  float64
 19  long           21613 non-null  float64
 20  sqft_living15  21613 non-null  int64
 21  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(16), object(1)
memory usage: 3.6+ MB

In [ ]:
Условие 2: 2 задача
Проведите первичный анализ данных
Изучите типы данных
Пишите выводы

Найдите количество пропущенных ячеек в данных

In [32]:
df.isnull().sum()

Unnamed: 0       0
id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

Посчитайте основные статистики по всем признакам и поизучайте их

In [40]:
df.describe()

       condition
0              3
1              3
2              3
3              5
4              3
...          ...
21608          3
21609          3
21610          3
21611          3
21612          3

[21613 rows x 1 columns]

In [35]:
print(df)

       Unnamed: 0          id        date     price  bedrooms  bathrooms  \
0               0  7129300520  2014-10-13  221900.0         3       1.00
1               1  6414100192  2014-12-09  538000.0         3       2.25
2               2  5631500400  2015-02-25  180000.0         2       1.00
3               3  2487200875  2014-12-09  604000.0         4       3.00
4               4  1954400510  2015-02-18  510000.0         3       2.00
...           ...         ...         ...       ...       ...        ...
21608       21608   263000018  2014-05-21  360000.0         3       2.50
21609       21609  6600060120  2015-02-23  400000.0         4       2.50
21610       21610  1523300141  2014-06-23  402101.0         2       0.75
21611       21611   291310100  2015-01-16  400000.0         3       2.50
21612       21612  1523300157  2014-10-15  325000.0         2       0.75

       sqft_living  sqft_lot  floors  waterfront  ...  grade  sqft_above  \
0             1180      5650     1.0           0  ...      7        1180
1             2570      7242     2.0           0  ...      7        2170
2              770     10000     1.0           0  ...      6         770
3             1960      5000     1.0           0  ...      7        1050
4             1680      8080     1.0           0  ...      8        1680
...            ...       ...     ...         ...  ...    ...         ...
21608         1530      1131     3.0           0  ...      8        1530
21609         2310      5813     2.0           0  ...      8        2310
21610         1020      1350     2.0           0  ...      7        1020
21611         1600      2388     2.0           0  ...      8        1600
21612         1020      1076     2.0           0  ...      7        1020

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
0                  0      1955             0    98178  47.5112 -122.257
1                400      1951          1991    98125  47.7210 -122.319
2                  0      1933             0    98028  47.7379 -122.233
3                910      1965             0    98136  47.5208 -122.393
4                  0      1987             0    98074  47.6168 -122.045
...              ...       ...           ...      ...      ...      ...
21608              0      2009             0    98103  47.6993 -122.346
21609              0      2014             0    98146  47.5107 -122.362
21610              0      2009             0    98144  47.5944 -122.299
21611              0      2004             0    98027  47.5345 -122.069
21612              0      2008             0    98144  47.5941 -122.299

       sqft_living15  sqft_lot15
0               1340        5650
1               1690        7639
2               2720        8062
3               1360        5000
4               1800        7503
...              ...         ...
21608           1530        1509
21609           1830        7200
21610           1020        2007
21611           1410        1287
21612           1020        1357

[21613 rows x 22 columns]

Условие 3: 3 задача
Ответьте на несколько вопросов
3.1 В каком диапазоне изменяются стоимости недвижимости?

In [10]:
df['price'].describe()

count    2.161300e+04
mean     5.400881e+05
std      3.671272e+05
min      7.500000e+04
25%      3.219500e+05
50%      4.500000e+05
75%      6.450000e+05
max      7.700000e+06
Name: price, dtype: float64

3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [12]:
(df['sqft_living'] / df['sqft_lot']).mean()

0.3237447254204737

3.3 Как много домов с разными этажами в данных?

In [13]:
df['floors'].nunique()

6

3.4 Насколько хорошие состояния у домов в данных?

In [14]:
df['condition'].value_counts(normalize=True)

condition
3    0.649193
4    0.262759
5    0.078703
2    0.007958
1    0.001388
Name: proportion, dtype: float64

3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [15]:
df['yr_built'].min()

1900

In [16]:
df['yr_built'].max()

2015

Условие 4: 4 задача

4.1 Для ответа на вопрос 4.1 нужно использовать метод mean() для вычисления средней стоимости домов с 2 спальнями:

In [18]:
df[df['bedrooms'] == 2]['price'].mean()

401372.681884058

4.2 Для ответа на вопрос 4.2 нужно использовать метод mean() для вычисления средней общей площади домов, стоимость которых больше 600 000:

In [19]:
df[df['price'] > 600000]['sqft_living'].mean()

2895.47442455243

4.3 Для ответа на вопрос 4.3 нужно использовать метод value_counts() для подсчета количества домов, у которых значение столбца yr_renovated не равно 0:

In [20]:
df[df['yr_renovated'] != 0]['id'].count()

914

4.4 Для ответа на вопрос 4.4 нужно вычислить разницу между средней стоимостью домов с оценкой grade выше 10 и домов с оценкой grade меньше 4:

In [21]:
diff = df[df['grade'] > 10]['price'].mean() - df[df['grade'] < 4]['price'].mean()
print(diff)

1488885.1175298805

Условие 5: 5 задача

5.1 Для ответа на вопрос 5.1 нужно использовать метод query() для выбора домов, удовлетворяющих требованиям клиента, и метод count() для подсчета их количества:

In [22]:
count = df.query('waterfront == 1 and bathrooms >= 3 and sqft_basement > 0')['id'].count()
print(count)

41

5.2 Для ответа на вопрос 5.2 нужно использовать метод query() для выбора домов, удовлетворяющих требованиям клиента, и метод describe() для получения информации о ценовом диапазоне:

In [23]:
houses = df.query('(view > 3 or waterfront == 1) and condition > 3 and yr_built >= 1980')
print(houses['price'].describe())

count    2.600000e+01
mean     2.114803e+06
std      1.186015e+06
min      7.050000e+05
25%      1.261250e+06
50%      1.700000e+06
75%      3.075000e+06
max      5.300000e+06
Name: price, dtype: float64

5.3 Для ответа на вопрос 5.3 нужно использовать метод mean() для вычисления средней оценки состояния домов, у которых нет подвала, два этажа и стоимость до 150000:

In [24]:
print(df[(df['sqft_basement'] == 0) & (df['floors'] == 2) & (df['price'] < 150000)]['condition'].mean())

2.8333333333333335